html {
	--orange: #dd783f;
}

.header__topContainer {
	height: 37.4vh;
	background-image: linear-gradient(
			135deg,
			rgba(30, 33, 33, 0.82) 1%,
			rgba(32, 32, 32, 0.14) 98%
		),
		url(../Images/5e4b1929fccc7fd4d0de82b2_photo-1439189741837-58720e8d82d5.jpg);
	background-size: auto, cover;
	background-position: 0px 0px, 50% 50%;
	padding-top: 0.9em;
	position: relative;
	display: flex;
}

.header__menu-container {
	background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.33),
		transparent 99%
	);
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1.2em;
}

.header__logo {
	font-family: "Lora", serif;
	font-weight: 400;
	font-size: 1.7rem;
	color: white;
}
/* Plus tard, hamburger menu etc. */
/* 	
	@media (max-width: 1154px) {
		.header__menu {
			display: none;
		}
	
		.header__menu--hamburger{
	
		}
	} */

.header__menu {
	padding-left: 28.5em;
}

.header__menu-item {
	color: rgb(209, 209, 209);
	font-family: "Oxygen", sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	padding-left: 2.5em;
	letter-spacing: 0.6px;
	display: inline-block;
	transform: translateY(0px);
	transition: transform 200ms ease;
}

.header__menu-item:hover,
.header__menu-item--active {
	color: white;
}

.header__menu-item:hover {
	transform: translateY(-3px);
}

.header__description-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	width: 100%;
}

.header__subtitle {
	font-family: "Lora", serif;
	font-weight: 400;
	font-size: 3.4rem;
	letter-spacing: 0.6px;
}

.header__description {
	font-family: "Oxygen", sans-serif;
	font-weight: 300;
	letter-spacing: 0.6px;
	font-size: 1.1rem;
	color: rgba(255, 255, 255, 0.63);
}

.header__button {
	background-color: var(--orange);
	padding: 0.8em 1.9em;
	border-radius: 3px;
	font-family: "Oxygen", sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	margin-top: 2em;
	transition: background-color 200ms ease-in-out;
}

.header__button:hover {
	background-color: #da6420;
}

.header__bottomContainer {
	font-family: "Lora", serif;
	font-weight: 400;
	font-size: 0.85rem;
	height: 4.5vh;
	position: relative;
	padding: 1em;
	border-bottom: 1px solid #e0e0e0;
}

.header__submenu {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.header__submenu-items {
	list-style-type: none;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.header__submenu-item {
	padding: 0.65em 3.5em;
	color: #768088;
	background-color: white;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.header__submenu-item:hover {
	background-color: #f0f0f0;
	color: #243039;
	border-radius: 3px;
}

.main {
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main__title {
	font-family: "Oxygen", sans-serif;
	font-weight: 400;
	color: #2e2e2e;
	letter-spacing: 2px;
	line-height: 27px;
	font-size: 1.1rem;
	border-bottom: 1px solid #cccccc;
	padding: 0.5em 0.5em;
	margin-bottom: 1em;
	margin-top: 2em;
}

.main__articlesContainer {
	display: flex;
	justify-content: center;
	gap: 1em;
	width: 940px;
}

.main__article {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 21vh;
	border-radius: 3px;
	position: relative;
	color: white;
	padding: 1em;
}

.main__article:hover {
	transform: translateY(-4px);
}

.main__article--1 {
	background-image: url(../Images/5e4b1929fccc7fb465de834a_photo-1443926818681-717d074a57af.jpg);
	background-position: 50% 50%;
	background-size: 100%;
	transition: transform 200ms ease-in-out, background-size 300ms ease-out;
}

.main__article--1:hover {
	background-size: 115%;
	transform: translateY(-4px);
}

.main__article--2 {
	background-image: url(../Images/5e4b1929fccc7f0439de8336_photo-1443304895043-ef30921332c5.jpg);
	background-position: 50% 50%;
	background-size: 100%;
	transition: transform 200ms ease-in-out, background-size 300ms ease-out;
}

.main__article--2:hover {
	background-size: 115%;
	transform: translateY(-4px);
}

.main__article-theme {
	position: absolute;
	top: 8%;
	left: 3%;
	border-radius: 2px;
	font-family: "Oxygen", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-size: 0.6rem;
	padding: 0.4em 0.6em;
	line-height: 13px;
}
.main__article-theme--photo {
	background-color: #a872b7;
}
.main__article-theme--adventure {
	background-color: var(--orange);
}

.main__article-title {
	font-family: "Lora", sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
}

.main__article-desc {
	opacity: 0.7;
	font-family: "Oxygen", sans-serif;
	font-weight: 400;
	font-size: 0.75rem;
}

.main__article-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.8em;
}

.main__article-footer-container {
	display: flex;
	align-items: center;
}

.main__article-footer-img {
	vertical-align: middle;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 0.4em;
}

.main__article-footer p {
	opacity: 0.7;
	font-family: "Oxygen", sans-serif;
	font-weight: 400;
	font-size: 0.65rem;
}

.main__recentContainer {
	display: flex;
	justify-content: center;
	gap: 1rem;
	width: 940px;
	flex-wrap: wrap;
	margin-bottom: 5em;
}
.main__recentArticle {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-width: 32%;
	height: 22vh;
	border-radius: 3px;
	position: relative;
	background-color: white;
	border: 1px solid #e5e5e5;
	transition: transform 200ms ease-in-out;
}

.main__recentArticle:hover {
	transform: translateY(-4px);
}

.main__recent-photo {
	background-image: url(../Images/5e4b1929fccc7f8ce9de833d_photo-1433854304641-67729357fe18.jpg);
	background-position: 50% 60%;
	background-size: 100%;
	height: 100%;
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	transition: background-size 300ms ease-out;
}

.main__recent-photo:hover {
	background-size: 115%;
}

.main__recent-theme {
	position: absolute;
	top: 3%;
	left: 2%;
	border-radius: 2px;
	font-family: "Oxygen", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-size: 0.6rem;
	padding: 0.4em 0.6em;
	line-height: 13px;
	color: white;
}
.main__article-theme--nature {
	background-color: #e6c728;
}

.main__recent-title {
	font-family: "Lora", sans-serif;
	font-weight: 400;
	color: #101315;
	font-size: 1rem;
	padding: 0 1rem;
	margin-top: 0.8rem;
}
.main__recent-desc {
	font-family: Oxygen, sans-serif;
	color: #7a7a7a;
	font-size: 0.7rem;
	padding: 0 1rem;
	margin-top: 0.4rem;
}
.main__article-footer--recent {
	color: #7a7a7a;
	padding: 0em 1em 0.8em 1em;
	margin: 0;
}

.main__recent-separateur {
	border-top: 1px solid #efefef;
	margin: 2em 0 0.6em 0;
}

.footer__topContainer {
	height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(
			180deg,
			rgba(35, 47, 56, 0.47),
			rgba(35, 47, 56, 0.31) 99%
		),
		url(../Images/5e4b1929fccc7f0ae6de82d7_footer-bg.jpg);
	background-position: 0px 0px px, 50% 0px;
	background-size: cover;
	position: relative;
}

.footer__bottomContainer-titre {
	font-family: "Oxygen", serif;
	font-weight: 700;
	color: #efefef;
	font-size: 1.6rem;
	border-bottom: 1px solid #efefef;
	margin-top: 3em;
	margin-bottom: 0.8em;
	padding: 0em 0.5em 0.5em 0.5em;
}

form {
	display: flex;
	justify-content: center;
}

input {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border: none;
	height: 4vh;
	width: 25vw;
	color: #4d565d;
	font-family: "Lora", serif;
	font-weight: 400;
	padding-left: 1em;
	font-size: 0.95em;
}

button {
	height: 4vh;
	width: 10vw;
	border: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #4d565d;
	margin: 0;
	font-family: "Oxygen", sans-serif;
	font-size: 0.95rem;
	color: white;
}

.footer__bottomContainer {
	display: flex;
	/* height: 37.4vh; */
	/* position: absolute;
	top: 300px; */
}

.footer__menu-container {
	border-top: 1px solid hsla(0, 0%, 100%, 0.12);
	background-color: rgba(35, 47, 56, 0.6);
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__logo {
	font-family: "Lora", serif;
	font-weight: 400;
	font-size: 1.7rem;
	color: white;
}


.header__menu-container {
	background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.33),
		transparent 99%
	);
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1.2em;
}


.header__menu {
	padding-left: 28.5em;
}

.header__menu-item {
	color: rgb(209, 209, 209);
	font-family: "Oxygen", sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	padding-left: 2.5em;
	letter-spacing: 0.6px;
	display: inline-block;
	transform: translateY(0px);
	transition: transform 200ms ease;
}

.header__menu-item:hover,
.header__menu-item--active {
	color: white;
}

.header__menu-item:hover {
	transform: translateY(-3px);
} */
